h1 {
    color: brown;
    text-align: center;
}
.p1 {
    position: relative;
    left: 700px;
    top: 150px;
}

body {
    background-color: beige;
}

.p5 {
    position: relative;
    height: 80px;
    left: 1300px;
    top: 430px;
    bottom: 50px;
   
}